@tailwind base;
@tailwind components;
@tailwind utilities;

#banner {
    background-size: auto 1856px;
}
#banner:before {
    background-image: url('/img/pattern.png');
    background-color: rgb(62 69 74/70%);
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

div:after {
    content: " ";
    display: block;
    clear: both;
}
